
# This unit is taken from the Arch Linux Wiki
# https://wiki.archlinux.org/index.php/Emacs#As_a_systemd_unit
# install to ~/.config/systemd/user/emacs.service
# remember to execute systemd commands with the --user flag

[Unit]
Description=Emacs: the extensible, self-documenting text editor

[Service]
Type=forking
ExecStart=/usr/bin/emacs --daemon
ExecStop=/usr/bin/emacsclient --eval "(kill-emacs)"
Restart=always

[Install]
WantedBy=default.target
